################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InternalTraining/bin/Debug/net9.0/appsettings.json
